<div class="login">
    <h1><a href="index.html">DELIVERY </a></h1>
    <div class="login-bottom">
        <h2>Login</h2>
        <form>
        <div class="col-md-6">
            <div class="login-mail">
                <input type="text" placeholder="Email" required="" id="txtEmailLog">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="Password" required="" id="txtPassLog">
                <i class="fa fa-lock"></i>
            </div>
              

        
        </div>
        <div class="col-md-6 login-do">
            
                <a  (click)="clkLogin()" class="hvr-shutter-in-horizontal">Iniciar</a>
                <p>No tienes Una cuenta?</p>
            <a (click)="mostarRegister(true)" class="hvr-shutter-in-horizontal">Registrar</a>
        </div>
        
        <div class="clearfix"> </div>
        </form>
    </div>
</div>